<% @page_title = "New registrar" -%>
<% @manual_topnav = {'List registrars' => '/domainreg/registrars/'} -%>

<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Add new registrar</h2>
  <p>Use the form below to add a new registrar.</p>
  <%= start_form_tag :action => 'registrars', :r_action => 'create' %>
  <table>
    <%= render :partial => 'registrars_form' %>
    <tr>
      <td><%= submit_tag "Add registrar" %></td>
    </tr>
  </table>
  <%= end_form_tag %>
</div>
<!--[eodiv:contentleft]-->
