    <tr>
      <td><label for="licence_type_name">Licence type:</label></td>
      <td><%= text_field :licence_type, :name %></td>
    </tr>
    <tr>
      <td><label for="licence_type_description">Description:</label></td>
      <td><%= text_area :licence_type, :description, :rows => 5 %></td>
    </tr>

