<% div_id = "assign_hardware_div_#{@ip_address.id.to_s}" -%>
<!--[div:<%= div_id %>-->
<div id="<%= div_id %>">
  <%=
  if @ip_address.assigned_to_hardware?
    @ip_address.hardware.name + " (" +
      link_to_remote('Change', :url => {:action => 'assign_to_hardware', :id => @ip_address},
                     :update => div_id) + " or " +
      link_to_remote('unassign', :url => {:action => 'unassign_hardware', :id => @ip_address},
                     :update => div_id) + ")"
  else
    "Not assigned " +
      link_to_remote('Assign', :url => {:action => 'assign_to_hardware', :id => @ip_address},
                     :update => div_id)
  end
  %>
</div>
<!--[eodiv:<%= div_id %>-->
