<% @page_title = "Editing datacentre" -%>
<% @topnav_info = {:object_id => @datacentre.id, :object_name => 'datacentre'} -%>

<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Edit datacentre</h2>
  <p>Use the form below to edit the details of this datacentre.</p>
  <% form_tag :action => 'update', :id => @datacentre do %>
  <table>
    <%= render :partial => 'form' %>
    <tr>
      <td><%= submit_tag 'Edit' %></td>
    </tr>
  </table>
  <% end %>
</div>
<!--[eodiv:contentleft]-->
