<% @page_title = "New datacentre" -%>
<% @topnav_info = {:object_name => 'datacentre'} -%>

<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Add new datacentre</h2>
  <p>Use the form below to add a new datacentre.</p>
  <% form_tag :action => 'create' do %>
  <table>
    <%= render :partial => 'form' %>
    <tr>
      <td><%= submit_tag "Create" %></td>
    </tr>
  </table>
  <% end %>
</div>
<!--[eodiv:contentleft]-->
