<% @page_title = "New account type" -%>
<% @body_options = focus_first_field 'account_type' -%>

<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Add new account type</h2>
  <p>Use the form below to add a new account type
  <% form_tag({:action => 'create'}, {:name => 'account_type', :id => 'account_type'}) do %>
  <table>
    <%= render :partial => 'form' %>
    <tr>
      <td><%= submit_tag "Create" %></td>
    </tr>
  </table>
  <% end %>
</div>
<!--[eodiv:contentleft]-->
