<ul class="auto_complete">
  <% for company in @companies -%>
  <li>
    <%= link_to(highlight(company.postcode, @search_phrase) + " (#{company.name})", :controller => 'companies', :action => 'show', :id => company) %>
  </li>
  <% end -%>
</ul>
