<% @page_title = "New hardware type" -%>
<% @body_options = focus_first_field -%>
<% @javascripts = ['AnchorPosition', 'PopupWindow', 'colorpicker'] -%>

<script type="text/javascript">
  var cp = new ColorPicker();
</script>
<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Add new hardware type</h2>

  <% form_tag({:action => 'create'}, {:name => 'hardware_type', :id => 'hardware_type'}) do %>
  <table>
    <%= render :partial => 'form' %>
    <tr>
      <td colspan="2"><%= submit_tag "Create hardware type" %></td>
    </tr>
  </table>
  <% end %>
  <script type="text/javascript">
    cp.writeDiv();
  </script>
</div>
<!--[eodiv:contentleft]-->
